@model projeto.Models.Professor

@{
    ViewData["Title"] = "Create";
}

<h4>Professor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cep" class="control-label">Digite um CEP para consulta de endereço, ou preencha os dados manualmente.</label>
            <input id="cep" class="form-control" maxlength="8" type="number" />
            <button class="btn btn-secondary" onclick="teste()">Consultar</button>
            <button class="btn btn-success" onclick="limpar()">Limpar</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" type="number" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logradouro" class="control-label"></label>
                <input id="logradouro" asp-for="Logradouro" class="form-control" />
                <span asp-validation-for="Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input id="numero" asp-for="Numero" class="form-control" type="number" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input id="bairro" asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input id="cidade" asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UF" class="control-label"></label>
                <input id="uf" asp-for="UF" class="form-control" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input id="pais" asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

<script>
    async function teste() {
        const cep = document.getElementById("cep").value;
        if(cep){
            const response = await fetch(`https://localhost:7094/CEP/${cep}`);
            const jsonData = await response.json();
            let existe = !Object.values(jsonData).every(o => o === null);
            if(existe){
                document.getElementById("logradouro").value = jsonData.logradouro;
                document.getElementById("numero").value = jsonData.numero;
                document.getElementById("bairro").value = jsonData.bairro;
                document.getElementById("cidade").value = jsonData.cidade;
                document.getElementById("uf").value = jsonData.uf;
                document.getElementById("pais").value = jsonData.pais;
            }else{
                alert("Endereço não encontrado!");
            }
        }else{
            alert("Digite um cep!");
        }
        
    }

    function limpar(){
        document.getElementById("cep").value = "";
        document.getElementById("logradouro").value = "";
        document.getElementById("numero").value = "";
        document.getElementById("bairro").value = "";
        document.getElementById("cidade").value = "";
        document.getElementById("uf").value = "";
        document.getElementById("pais").value = "";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

